{% extends "base.html" %}
{% load static %}   <!-- <<< Add this line -->
{% block content %}
<div class="post-entry">
  <h2>{{ post.title }}</h2>
  <p>{{ post.body }}</p><br>
    {% if post.id == 1 %}
      <img src="{% static 'image/cat.jpg' %}" alt="Cat" width="300" height="300" style="display: block; margin: 0 auto;">
    {% elif post.id == 2 %}
      <img src="{% static 'image/cat2.jpg' %}" alt="Cat2" width="300" height="300" style="display: block; margin: 0 auto;">
    {% elif post.id == 3 %}
      <img src="{% static 'image/cat3.jpg' %}" alt="Cat3" width="300" height="300" style="display: block; margin: 0 auto;">
    {% else %}
      <img src="{% static 'image/default.jpg' %}" alt="Default" width="300" height="300" style="display: block; margin: 0 auto;">
    {% endif %}

</div>
{% endblock content %}
